Flask
pillow
requests
google-cloud-vision
zxing-cpp
opencv-python-headless
numpy
pdfplumber
google-auth
gspread
oauth2client
azure-storage-file-share
pycryptodome
gunicorn
psycopg2-binary
supabase
urllib3
